.decision-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.smash-button {
  background-color: #34C759;
  /* green background */
  color: #FFFFFF;
  /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 2em;
  cursor: pointer;
  /* add some margin to separate from Pass button */
}

.pass-button {
  background-color: #FF3737;
  /* red background */
  color: #FFFFFF;
  /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.play-again-button {
  background-color: #fcff3d;
  /* red background */
  color: #000000;
  /* white text */
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  margin: 20px;
}

.smash-button,
.pass-button {
  font-weight: bold;
  margin: 10px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  max-height: 70%;
}

img {
  height: auto;
  object-fit: fill;
}